---
layoutFile: default
dataFile: common/*
---

{{> _header}}

  <main class="obj-layout-width">
    <h1 class="cmp-title">Accessibility</h1>

    {{> _sub-menu}}
    {{> _summary a11y}}
    {{> _resources a11y}}

  <div class="obj-layout-spacing theme-bg" id="cheatsheet">
  <h2 class="subtitle">Cheat Sheet</h2>
  {{#markdown}}
  ### Attributes
  ```
  aria-label="Explain what the screen reader should read"
  // add to a link that doesn't have descriptive text
  ```
  ```
  aria-expanded="true"
  // tells a screen reader if an element, such as a hamburger menu, is opened or closed
  ```
  ```
  alt="Explain what your picture is showing"
  // always have an alt attribute in img tags
  ```
  ```
  aria-hidden="true"
  // hide an element from a screen reader such as a decorative elements
  ```
  {{/markdown}}
  </div>
    
    {{> _projects a11y}}

  </main>
  
{{> _footer}}