---
layoutFile: default
dataFile: common/*
---
{{#extend "layout"}}
  {{#content "head"}}
    <title>Connect with other Beginner Web Developers | Full Stack Web Development</title>
    <meta name="description" content="Find resources and next steps on how to start your career in web development.">
  {{/content}}

  {{#content "body"}}
    {{> _header}}
    <main class="obj-layout-width">
      <h1>Connect with the online community</h1>
      <section class="obj-layout-row">
        <h3 class="util-margin">Community Resources</h3>
        <ul class="cmp-list cmp-list--hrz">
          <li class="cmp-list__item">
            <a class="cmp-link cmp-link--tall" href="https://www.meetup.com/" target="_blank">Meetup</a>
          </li>
          <li class="cmp-list__item">
            <a class="cmp-link cmp-link--tall" href="https://stackoverflow.com/" target="_blank">Stack Overflow</a>
          </li>
          <li class="cmp-list__item">
            <a class="cmp-link cmp-link--tall" href="https://developer.mozilla.org/en-US/docs/Mozilla/Mozilla_Web_Developer_Community" target="_blank">MDN Community</a>
          </li>
          <li class="cmp-list__item">
            <a class="cmp-link cmp-link--tall" href="https://github.community/" target="_blank">GitHub Forum</a>
          </li>
          <li class="cmp-list__item">
            <a class="cmp-link cmp-link--tall" href="https://www.diversifytech.co/" target="_blank">Diversify Tech</a>
          </li>
          <li class="cmp-list__item">
            <a class="cmp-link cmp-link--tall" href="https://codingcoach.io/" target="_blank">Coding Coach</a>
          </li>
          <li class="cmp-list__item">
            <a class="cmp-link cmp-link--tall" href="https://compassionatecoding.com/" target="_blank">Compassionate Coding</a>
          </li>
          <li class="cmp-list__item">
            <a class="cmp-link cmp-link--tall" href="https://codebar.io/" target="_blank">codebar</a>
          </li>
        </ul>
        <h3 class="util-margin">Start Contributing</h3>
        <ul class="cmp-list cmp-list--hrz">
          <li class="cmp-list__item">
            <a class="cmp-link" href="https://codepen.io/" target="_blank">CodePen</a>
          </li>
          <li class="cmp-list__item">
            <a class="cmp-link" href="https://github.com/" target="_blank">GitHub</a>
          </li>
          <li class="cmp-list__item">
            <a class="cmp-link" href="https://medium.com/" target="_blank">Medium</a>
          </li>
          <li class="cmp-list__item">
            <a class="cmp-link" href="https://medium.freecodecamp.org/15-web-developer-portfolios-to-inspire-you-137fb1743cae" target="_blank">Personal Website</a>
          </li>
        </ul>
      </section>
    </main>
  {{/content}}
{{/extend}}