---
layoutFile: default
dataFile: common/a11y
---

{{> _header}}

<main class="obj-layout-width">
  <h1 class="cmp-title">Dotfiles</h1>

  {{> _sub-menu}}
  {{> _summary dotfiles}}
  {{> _resources dotfiles}}

  <div class="obj-layout-spacing theme-bg" id="cheatsheet">
  <h2 class="subtitle">Cheat Sheet</h2>
  {{#markdown}}
  ### Create a dotfile
  ```
  touch .bashrc
  ```

  ### Refresh bash to see changes
  ```
  source ~/.bashrc
  ```

  ### Aliases
  ```
  alias c="clear"
  alias ll="ls -lha"
  alias gs="git status"
  alias ga="git add"
  alias gc="git commit -m"
  # Then running *c* in your terminal will be the same as running *clear*, and so on
  ```
  ### Functions
  ```
  function mkd () {
    mkdir -p "$@" && cd "$@"
  }
  # make a directory and go into it
  ```
  ```
  function happydance {
    echo ' ┏(-_-)┛ ┗(-_-﻿ )┓ ┗(-_-)┛ ┏(-_-)┓'
  }
  # congratulate yourself with a happy dance
  ```
  {{/markdown}}
  </div>

  {{> _projects dotfiles}}

</main>

{{> _footer}}