---
layoutFile: default
dataFile: common/*
---

{{> _header}}

<main class="main">
  <h1 class="title">Git & GitHub</h1>

  {{> _sub-menu}}
  {{> _summary git}}
  {{> _resources git}}

  <div class="cheatsheet theme theme--grey" id="cheatsheet">
  <h2 class="theme__title">Cheat Sheet</h2>
  {{#markdown}}
  ### How to set up a GitHub Repo
  ```
  touch ReadME.md
  git init
  git add ReadME.md
  git commit -m "first commit"
  git remote add origin [github_repo_url]
  git push -u origin master
  ```

  ### Add Changed Files
  ```
  git status
  git add [name_of_file]
  ```

  ### Local, Remote, and Origin
  ```
  // local environment refers to your personal computer
  // remote refers to an in between state. It's where all of your files are stored when they committed but not
          yet pushed
  // origin refers to GitHub's environment
  ```
  {{/markdown}}
  </div>

  {{> _projects git}}

</main>

{{> _footer}}