---
layoutFile: default
dataFile: common/*
---
{{#extend "layout"}}
  {{#content "head"}}
    <title>Learn How to Use Git & GitHub for Free | Beginner Web Development</title>
    <meta name="description" content="Understand dotfiles through code examples and approachable projects. Create a more efficient work environment using bash, the command line, and git.">
  {{/content}}

  {{#content "body"}}
    {{> _header}}
    <main class="obj-layout-width">
      <h1 class="cmp-title">Git & GitHub</h1>
      {{> _sub-menu}}
      {{> _summary git}}
      {{> _resources git}}
{{> _cheatsheet git}}
      {{> _projects git}}
    </main>
    {{> _footer}}
  {{/content}}

{{/extend}}