---
layoutFile: default
dataFile: common/*
---
{{#extend "layout"}}
  {{#content "head"}}
    <title>Free Project Based Learning for Full Stack Web Development</title>
    <meta name="description" content="Take the next step in your web development career with this online guide to full stack web development, inspired by Sparkbox's Full Stack Apprenticeship">
  {{/content}}

  {{#content "body"}}
    {{> _header}}
    <main>
      <section class="obj-layout-width util-pad-lg">
        <div class="obj-layout-row">
          <h1>Full Stack Beginner's Guide</h1>
          <ul class="cmp-list cmp-list--hrz">
            <li class="cmp-list__item">Quick explanations</li>
            <li class="cmp-list__item">Cheat Sheets</li>
            <li class="cmp-list__item">External Resources</li>
            <li class="cmp-list__item">Projects</li>
          </ul>
          <p class="util-margin-sm">Take the next step in your web development career with this online guide to full stack 
            web development, inspired by <a class="cmp-link" href="http://apprentices.seesparkbox.com/apply-dev.html"> Sparkbox's Full Stack Apprenticeship</a>.
            It is focused on approachable projects to help you gain the skills needed to become a web developer. 
            Each section contains a brief summary of the topic, a list of external resources I have used and 
            found the most helpful, a small cheat sheet, and project prompts.
          </p>
        </div>
        <div class="obj-layout-columns">
          {{> _cards home}}
        </div>
      </section>
      <section class="obj-layout-width">
        <div class="cmp-info">
          <h2 class="cmp-info__title">About</h2>
          <p> 
          Learning to code is a difficult challenge. There are an infinite number of tutorials and articles, 
          yet little direction provided on which path to take. During my journey as a full stack apprentice 
          I found a need to provide a guide for other junior developers who are looking for direction
          just like I was. 
          
          Before the apprenticeship, I did not understand the exact skills needed to become a full stack
          web developer who could collaborate with other team members. I wanted to know what languages and tools
          would give me the tools to do so. The apprenticeship gave me that knowledge, and the support to build up 
          my skills.
          </p>

          <p>
          This guide is a roadmap of my time as an apprentice and consists of all the information I found
          most helpful. I wrote it with the idea that someone who has never had a web development job could digest
          the information and step away with a full fledged portfolio.
          </p>
        </div>
      </section>
    </main>
    {{> _footer}}
  {{/content}}
{{/extend}}
