---
layoutFile: default
dataFile: common/*
---

{{> _header}}

<main class="obj-layout-width">
  <h1 class="cmp-title">JavaScript</h1>

  {{> _sub-menu}}
  {{> _summary js}}
  {{> _resources js}}

  <div class="obj-layout-spacing theme-bg" id="cheatsheet">
  <h2 class="subtitle">Cheat Sheet</h2>
  {{#markdown}}
  ### Manipulate Arrays

  ```
  // update an existing array
  for(let i = 0; i < array.length; i++) { 
    // do something with the array data 
  }
  ```
  
  ```
  // add an event listener to every button
  const buttons = document.querySelectorAll('button');
  buttons.forEach((btn) => {
    btn.addEventListener('click', functionName)
  });
  ```

  ```
  // make a new array from input values
  const inputs = document.querySelectorAll('inputs');
  let arr = Array.from(inputs).map(inputs => inputs.value);
  ```
 
  ### Export a Function
  ```
  module.exports = functionName;
  ```
  {{/markdown}}
  </div>

  {{> _projects js}}

</main>

{{> _footer}}