---
layoutFile: default
dataFile: common/*
---

{{> _header}}

<main class="main">
  <h1 class="title">JavaScript</h1>

  {{> _sub-menu}}
  {{> _summary js}}
  {{> _resources js}}

  <div class="cheatsheet theme theme--grey" id="cheatsheet">
  <h2 class="theme__title">Cheat Sheet</h2>
  {{#markdown}}
  ### Manipulate Arrays
  ```
  for(let i = 0; i < array.length; i++) { 
    // do something with the array data 
  }
  ```
  ```
  const domElements = document.querySelectorAll('button');
    domElements.forEach((el) => {
    el.addEventListener('click', exFunction)
  });
  ```
  ```
  // make a new from inputs of their values
  const inputs = document.querySelectorAll('inputs');
  let arr = Array.from(inputs).map(inputs => inputs.value);
  ```
  ### Debugging
  ```
  // add a console.logs
  const doesThing = () => {
  console.log('doesThing ran');
  // for loop
  console.log('for loop ran');
  }
  ```
  ### Export
  ```
  module.exports = functionName;
  ```
  {{/markdown}}
  </div>

  {{> _projects js}}

</main>

{{> _footer}}