---
layoutFile: default
dataFile: common/*
---
{{#extend "layout"}}
  {{#content "head"}}
    <title>Learn to Write Custom HTML and CSS for Free | Full Stack Web Development</title>
    <meta name="description" content="Gain confidence in writing accessible and maintainable HTML and CSS through information on BEM, pseudo elements, and more.">
  {{/content}}

  {{#content "body"}}
  {{> _header}}
  <main class="obj-layout-width">
    <h1 class="cmp-title">HTML & CSS</h1>
    {{> _sub-menu}}
    {{> _summary markup-styles}}
    {{> _resources markup-styles}}
  <div class="obj-layout-spacing theme-bg" id="cheatsheet">
  <h2 class="cmp-subtitle cmp-subtitle--theme">Cheat Sheet</h2>
  {{#markdown}}
  ### Pseudo Element
  ```
  .link::before {
    content: "";
    display: block;
    position: absolute;
    top: 1.5rem;
    left: 0;
    height: 0.25rem;
    width: 100%;
    background-color: black;
  }
  ```
  ### Viewport Tag
  ```
  <meta name="viewport" content="width=device-width, initial-scale=1">
  ```
  ### Link to CSS
  ```
  <link href="styles/main.css" rel="stylesheet">
  ```
  {{/markdown}}
  </div>
  {{> _projects markup-styles}}
    </main>
    {{> _footer}}
  {{/content}}

{{/extend}}