---
layoutFile: default
---

{{> _header}}

<section class="blog">
    <h1 class="blog__title">Today I Learned</h1>
    <div class="post">
      {{> _publish-gh-pages}}
    </div>
</section>

{{> _footer}}