---
layoutFile: default
dataFile: common/*
---

{{> _header}}

<main class="main">
  <h1 class="title">WordPress</h1>

  {{> _sub-menu}}
  {{> _summary wordpress}}

  <section class="theme theme--resources" id="resources">
    <h2 class="theme__title">Resources I've Found Helpful</h2>
    <div class="section resources">
      <a class="resources__link" href="https://www.wp101.com/tutorial/what-is-wordpress/" target="_blank">What is
        WordPress
        <span class="resources__meta">Article</span>
      </a>
      <a class="resources__link" href="https://mythemeshop.com/blog/general-wordpress-settings/" target="_blank">Beginner
        to Advanced WP Settings
        <span class="resources__meta">Article</span>
      </a>
      <a class="resources__link" href="https://premium.wpmudev.org/blog/how-to-create-wordpress-child-theme/" target="_blank">WordPress
        Child Theme
        <span class="resources__meta">Article</span>
      </a>
      <a class="resources__link" href="https://moz.com/blog/a-beginners-guide-to-the-google-search-console" target="_blank">Search
        Console Guide
        <span class="resources__meta">Article</span>
      </a>
      <a class="resources__link" href="https://www.wpexplorer.com/easy-tips-wordpress-beginners/" target="_blank">WP
        Posts/Blog
        <span class="resources__meta">Article</span>
      </a>
      <a class="resources__link" href="https://support.google.com/analytics/answer/1008015?hl=en" target="_blank">Get
        Started with Analytics
        <span class="resources__meta">Article</span>
      </a>
      <a class="resources__link" href="http://pintsizedsites.com/fixing-wordpress-broken-plugin/" target="_blank">Fix
        Broken Plugin Update
        <span class="resources__meta">Article</span>
      </a>
    </div>
  </section>
  <section class="theme theme--grey" id="cheatsheet">
    <h2 class="theme__title">Cheat Sheet</h2>
      <h3 class="section__subtitle">Plugins</h3>
      <dl class="section__def-list">
        <dt><a class="section__link" href="https://wordpress.org/plugins/w3-total-cache/" target="_blank">W3 Total
            Cache</a></dt>
        <dd>
          <p>significantly helps with speed, follow these <a class="section__link" href="http://www.onlinemediamasters.com/w3-total-cache-settings/"
              target="_blank">instructions</a></p>
        </dd>
        <dt><a class="section__link" href="https://wordpress.org/plugins/imagify/" target="_blank">Imagify</a></dt>
        <dd>
          <p>Helps with speed by compressing images</p>
        </dd>
        <dt><a class="section__link" href="https://wordpress.org/plugins/wordpress-seo/" target="_blank">Yoast</a></dt>
        <dd>
          <p>Helps with your website's SEO settings</p>
        </dd>
      </dl>
      <h3 class="section__subtitle">Themes</h3>
      <dl class="section__def-list">
        <dt><a class="section__link" href="https://themeforest.net/free/wordpress-themes" target="_blank">Themeforest</a></dt>
        <dd>
          <p>A great resource for paid themes</p>
        </dd>
      </dl>
      <h3 class="section__subtitle">Hosting</h3>
      <dl class="section__def-list">
        <dt><a class="section__link" href="https://getflywheel.com/" target="_blank">Flywheel</a></dt>
        <dd>
          <p>Great for local development</p>
        </dd>
        <dt><a class="section__link" href="https://www.godaddy.com/" target="_blank">GoDaddy</a></dt>
        <dd>
          <p>Reliable and easy to use. There is also a cool feature they offer for <a class="section__link" href="https://www.godaddy.com/pro/sites">managing
              multiple WordPress</a> websites</p>
        </dd>
        <dt><a class="section__link" href="https://www.bluehost.com/" target="_blank">Bluehost</a></dt>
        <dd>
          <p>Good pricing and easy to use</p>
        </dd>
      </dl>
      <h3 class="section__subtitle">Speed Tests</h3>
      <dl class="section__def-list">
        <dt><a class="section__link" href="https://www.pingdom.com/" target="_blank">Pingdom</a></dt>
        <dd>
          <p>Focuses on speed and site health</p>
        </dd>
        <dt><a class="section__link" href="https://developers.google.com/speed/pagespeed/insights/" target="_blank">Page
            Speed Insights</a></dt>
        <dd>
          <p>Focuses on site health</p>
        </dd>
        <dt><a class="section__link" href="https://gtmetrix.com/" target="_blank">GT Metrix</a></dt>
        <dd>
          <p>Focuses on site speed</p>
        </dd>
      </dl>
  </section>
  
  {{> _projects wordpress}}

</main>
{{> _footer}}