<footer class="footer">
  <div class="footer__left">
    <h2 class="footer__title">Connect With The Community</h2>
  </div>
  <div class="footer__right">
    <a class="footer__link" href="../connect">Learn More</a>
  </div>
</footer>