<header>
  <nav class="cmp-nav">
    <ul class="cmp-nav__list">
      <li class="cmp-nav__item">
        <a class="cmp-nav__link" href="./index">topics</a>
      </li>
      <li class="cmp-nav__item">
        <a class="cmp-nav__link" href="./connect">connect</a>
      </li>
    </ul>
  </nav>
</header>