<header class="header">
  <nav>
    <ul class="nav__list">
      <li class="nav__item"><a class="nav__link" href="./index">topics</a></li>
      <li class="nav__item"><a class="nav__link" href="./connect">connect</a></li>
    </ul>
  </nav>
</header>