 <section class="theme" id="projects">
    <h2 class="theme__title">{{topic}} Projects</h2>
    <div class="section">  
      {{#each project}}
        <h3 class="section__subtitle">{{subtitle}}</h3>
        <p class="section__copy">{{{copy}}}</p>
      {{/each}}
  </div>
</section>