<section class="obj-layout-spacing" id="resources">
  <h2 class="cmp-subtitle">Resources I've Found Helpful</h2>
  <div class="cmp-resources">  
    {{#each resource}}
    <a class="cmp-resources__link" href="{{link}}" target="_blank">{{text}}
      <span class="cmp-resources__meta">{{type}}</span>
    </a>
    {{/each}}
  </div>
</section>