<div class="sub-menu">
  <ul class="sub-menu__list">
    <li class="sub-menu__item">
      <a class="sub-menu__link" href="#resources">Resources</a>
    </li>
    <li class="sub-menu__item">
      <a class="sub-menu__link" href="#cheatsheet">Cheat Sheet</a>
    </li>
    <li class="sub-menu__item">
      <a class="sub-menu__link" href="#projects">Projects</a>
    </li>
  </ul>
</div>