<nav class="cmp-sub-menu">
  <ul class="cmp-sub-menu__list">
    <li class="cmp-sub-menu__item">
      <a class="cmp-link js-smooth-scroll" href="#resources">Resources</a>
    </li>
    <li class="cmp-sub-menu__item">
      <a class="cmp-link js-smooth-scroll" href="#cheatsheet">Cheat Sheet</a>
    </li>
    <li class="cmp-sub-menu__item">
      <a class="cmp-link js-smooth-scroll" href="#projects">Projects</a>
    </li>
  </ul>
</nav>