<section class="theme theme--grey">
  <h2 class="theme__title">Summary</h2>
  {{#each section}}
    <h3 class="section__subtitle">{{subtitle}}</h3>
    <p class="section__copy">{{{copy}}}</p>
  {{/each}}
</section>