<!doctype html>
<html lang="en">
<head>
    {{#block "head"}}
        <title>Full Stack Beginner's Guide</title>
        <meta name="description" content="Web development content based on project based learning compiled during Sparkbox's Full Stack Apprenticeship.">
    {{/block}}
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- Favicon -->
  <link rel="icon" href="/img/console.ico">
  <link rel="apple-touch-icon" href="/img/console.ico">
  <!-- Twitter -->
  <meta property="og:title" content="Full Stack Beginner's Guide" />
  <meta property="og:descrption" content="Web development content based on project based learning compiled during Sparkbox's Full Stack Apprenticeship." />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />
  <!-- Styles -->
  <link href="./css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700" rel="stylesheet">
</head>
<body>

  {{#block "body"}}
    <h1>Error</h1>
  {{/block}}

  <script src="./js/main.js"></script>
</body>
</html>