<!doctype html>
<html lang="en">
<head>
  <title>Beginner's Guide</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href="./css/main.css" rel="stylesheet">
</head>
<body>
  {{{ body }}}
</body>
</html>