.cmp-link {
  color: $c-yonder;
  position: relative;
  padding: 0.3rem;
  letter-spacing: 0.0625rem;
  transition: color $transition;
  display: inline;
  background-size: 0.0625rem 1rem;
  transition: box-shadow 200ms ease-in, color 200ms ease-in;
  box-shadow:
    inset 0 -0.175rem $c-white,
    inset 0 -0.3rem $c-yonder;

  &:hover {
    color: $c-white;
    box-shadow:
      inset 0 -0.175rem $c-white,
      inset 0 -1.65rem $c-yonder;
  }
}
