.cmp-list {
  margin: 0;
  list-style: none;

  &__item {
    line-height: 2;
    margin-bottom: 0.8rem;

    &::before {
      content: '';
      display: inline-block;
      position: relative;
      top: -0.2rem;
      left: -0.875rem;
      border-radius: 50%;
      height: 0.5rem;
      width: 0.5rem;
      background-color: $c-grey;
    }
  }

  &--hrz {
    padding: 0;
    margin: 0.25rem 0 1rem;

    .cmp-list__item {
      font-size: 1.5rem;
      float: left;
      margin: 0 1rem;
    }
  }
}
