.cmp-link {
  color: $c-yonder;
  position: relative;
  padding: 0.25rem;
  letter-spacing: 0.0625rem;
  transition: color $transition;

  &:hover {
    color: $c-white;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 0.125rem;
    width: 100%;
    margin: 0 auto;
    z-index: -1;
    transform: scale(1, 1);
    box-shadow: 0 0.375rem 0.5rem rgba($c-yonder, 0.25);
    background: linear-gradient(90deg, $c-yonder 0%, $c-yonder 100%);
    transition: height $transition, transform $transition, background $transition;
  }

  &:hover::after {
    height: 100%;
    transform: scale(1.05, 1);
    background: linear-gradient(90deg, $c-yonder 0%, $c-blue-skies  100%);
  }
}
