.cmp-nav {
  background: $c-grey;

  @media (min-width: $bp-md) {
    background: transparent;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 1.5rem;
    list-style: none;
  }

  &__item {
    text-align: center;

    & + & {
      padding-left: 2rem;
    }
  }

  &__link {
    color: $c-white;
    padding: 0.25rem 0;
    letter-spacing: 0.0625rem;
    font-weight: bold;
    border-bottom: 0.125rem solid $c-white;
    transition: color $transition, border-color $transition;

    @media (min-width: $bp-md) {
      color: $c-yonder;
    }

    &:hover {
      color: $c-yonder;
      border-color: $c-yonder;

      @media (min-width: $bp-md) {
        color: $c-grey;
        border-color: $c-grey;
      }
    }
  }
}
