.nav {
  &__list {
    width: 100%;
    float: right;
    margin: 0 auto;
    padding: 1.5rem 0;
    list-style: none;

    @media (min-width: $first-bp) {
      max-width: 20rem;
    }
  }

  &__item {
    float: left;
    width: 45%;
    text-align: center;

    @media (min-width: $first-bp) {
      width: auto;
      padding: 0 1rem;
    }
  }

  &__link {
    position: relative;
    padding: 0.5rem 0.125rem;
    font-size: $font-xxs;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    color: $c-white;
    transition: all 200ms ease-in 50ms;

    @media (min-width: $first-bp) {
      color: $c-blue-yonder;
    }
    
    &:hover {
      color: $c-white;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      margin: 0;
      left: 0;
      bottom: 0;
      height: 0.2rem;
      z-index: -1;
      width: 100%;
      background: linear-gradient(90deg, $c-blue-yonder 0%, $c-blue-yonder 100%);
      box-shadow: 0px 6px 8px 0px rgba($c-blue-yonder, 0.25);
      transition: all 200ms ease-in;
    }

    &:hover::after {
      height: 100%;
      transform: scale(1.2, 1);
      background: linear-gradient(90deg,  $c-blue-yonder 0%, #588fb6  100%);
    }
  }
}
