/*  CONNECT PAGE 
============================ */

.main--full-pg {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  height: 60vh;
}

.coming-soon {
  display: inline-block;
  padding: 0 4rem;
  font-size: 4rem;
  line-height: 2;
  text-align: center;
  color: #fff;
  position: relative;
}

.coming-soon::after { 
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  z-index: -1;
  background-color: #7d9bdc;
  box-shadow: 0px 16px 14px -10px rgba(0, 0, 0, 0.2);
}

.coming-soon__link {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}
.coming-soon__link::after {
  background-color: #7d9bdc;
}

/*  CONNECT PAGE 
============================ */

.connect-wrapper {
  background-color: #7e8fb5;
  color: #fff;
}

.connect__title {
  color: #fff;
}