.code {
  font-size: 1.1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  background-color: $c-white;
  box-shadow: 2px 10px 6px -6px rgba(0, 0, 0, 0.2);

  &__wrapper {
    border-radius: 0.5rem;
    padding: 1rem 4rem;
    margin-bottom: 3rem;
    background-color: $c-white;
    box-shadow: 2px 10px 6px -6px rgba(0, 0, 0, 0.2);
  }

  &__block {
    font-size: 1.2rem;
    line-height: 2;
    white-space: pre-line;
    background-color: transparent;
    box-shadow: 2px 10px 6px -6px rgba(0, 0, 0, 0);
  }

  &__column {
    float: left;
    width: 27%;
    padding: 1rem;
  }
}