.section {

  &__subtitle {
    letter-spacing: 0.02rem;
    font-size: 1.75rem;
    line-height: 1.5;
    margin: 1.5rem 0 1rem;

    @media (min-width: 50rem) {
      font-size: 1.7rem;
      margin: 1rem 0;
    }
  }

  &__copy {
    line-height: 2;
    font-size: 1rem;

    &--home {
      font-size: 1.125rem;
      line-height: 2;
      text-align: center;
    }

    @media (min-width: 50rem) {
      font-size: 1.125rem;
    }
  }

  &__link {

    &:hover {
      color: $c-dark;
    }
    &--primary {
      color: $c-primary;
    }
  }
}

.subject__resource-link--primary {
    color: $c-primary;
    border: 2px solid $c-primary;
    &:hover {
        border: 2px solid $c-primary;
        color: $c-light;
        background-color: $c-primary;
    }
}

.subject__sub-section--underline {
    border-left: 4px solid $c-dark;
}


.title {
  font-size: 2rem;
  margin: 3rem auto;
  text-align: center;

  @media (min-width: 50rem) {
    margin-top: 2rem;
    font-size: 2.5rem;
  }
}

.main--home {
  max-width: 75rem;
  margin: auto;
  height: 100%;
  padding: 4rem;
}