.topic {
  cursor: pointer;
  width: 80%;
  margin: 0.75rem auto;
  border: 0.125rem solid $c-blue-yonder;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 2px 10px 6px -2px rgba($c-grey, 0.2);
  transition: all 250ms linear;

  &:hover {
    background-color: $c-blue-yonder;
    box-shadow: 2px 10px 6px -2px rgba($c-grey, 0);
  }

  @media (min-width: 23rem) {
    float: left;
    width: 40%;
  }

  @media (min-width: 54rem) {
    width: 25%;
  }

  @media (min-width: 58rem) {
    width: 13%;
  }

  &__title {
    margin-top: 1rem;
    font-size: $font-xs;
    transform-origin: 10% 100%;
    color: $c-blue-yonder;
    font-weight: 700;
    text-align: center;
    transform-origin: 10% 100%;
    transform: translateY(2.5rem) scale(1);
    transition: all 250ms linear;

    .topic:hover & {
      color: #fff;
      transform: translateY(0) translateX(0) scale(1);
    }
  }

  &__subtitle {
    font-size: $font-sm;
    margin-bottom: 1rem;
    padding: 0 8%;
    line-height: 180%;
  }

  &__list {
    list-style: none;
    padding-left: 0;
    transform: translateY(0);
   
    &--item {
      opacity: 0;
      margin-bottom: 0.2rem;
      font-weight: 500;
      font-size: 0.9rem;
      text-align: center;
      color: #fff;
      transform-origin: 50% 100%;
      transition: all 250ms linear;
      transform: scale(0.1, 1) translate(0, 1rem);
   
      .topic:hover & {
         opacity: 1;
         transform: scale(1, 1);
      }
    }
  }
}