.cheatsheet {
  pre {
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    background-color: #fff;
    box-shadow: 2px 10px 6px -5px rgba(0,0,0,0.15);
  }

  code {
    white-space: pre-line;
    font-size: 1rem;
    line-height: 1.5;
  }
}