.blog {
  margin: auto;
  border-radius: 1rem;
  margin-bottom: -4rem;

  &__title {
    font-size: 2.5rem;
    text-align: left;
    padding: 0 4vw;
    margin-bottom: 0.5rem;
    color: $c-blue-yonder;

    @media (min-width: $first-bp) {
      padding: 0 18vw;
    }
  }
}

.post {
  padding: 6vh 4vw;
  background-image: linear-gradient(to top, #f2f2f2 0%, #ffffff 100%);

  @media (min-width: $first-bp) {
    padding: 6vh 18vw;
  }

  p {
    line-height: 1.75;
  }

  ol li {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }

  ul {
    margin-top: 0.5rem;
  }

  pre {
    margin: 0.25rem 1rem 1rem 2rem;
  }

  code {
    white-space: normal;
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background-color: $c-black;
    color: $c-white;
    box-shadow: 2px 10px 6px -6px rgba(0, 0, 0, 0.2);
  }
}

