 
.full-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.coming-soon {
  display: inline-block;
  padding: 0 4rem;
  font-size: 4rem;
  line-height: 2;
  text-align: center;
  color: $c-white;
  position: relative;

  &::after { 
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    z-index: -1;
    background-color: $c-blue-yonder;
    box-shadow: 0px 16px 14px -10px rgba(0, 0, 0, 0.2);
  }

  &__link {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;

    &::after {
      background-color: $c-blue-yonder;
    }    
  }
}


.connect {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
  padding: 0 2rem;

  &__title {
    text-align: left;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 2rem;
    margin-bottom: 0;
    letter-spacing: 0.1rem;
    color: $c-grey;
    font-family: 'Montserrat', sans-serif;
  }

  &__subtitle {
    color: $c-grey;
    @media (min-width: $first-bp) {
      margin: 3rem 0;
    }
  }

  &__link {
    color: $c-blue-yonder;
    text-align: center;
    font-size: 1.25rem;
    line-height: 2;
    padding: 0.5rem 1rem;
    text-decoration: none;
    position: relative;
    transition: all 200ms ease-in 50ms;

    &::before {
      content: '';
      position: absolute;
      display: block;
      bottom: 0rem;
      height: 0.25rem;
      width: 90%;
      z-index: -1;
      transform: translateX(0.5rem);
      box-shadow: 0px 6px 8px 0px rgba($c-blue-yonder, 0.5);
      background: $c-blue-yonder;
      background: linear-gradient(90deg, $c-blue-yonder 0%, $c-blue-yonder 100%);
      transition: all 200ms ease-in;
    }

    &:hover {
      color: $c-white;
    }

    &:hover::before {
      border-radius: 2rem;
      height: 100%;
      background: linear-gradient(90deg,  $c-blue-yonder 0%, rgba(88,143,182,1)  100%);
    }
  }

  &__section {
      padding: 4rem 0;

    @media (min-width: $first-bp) {
      padding: 2rem 0;
    }
  }

  &__section li {
    margin: auto 2rem 1rem auto;
    list-style: none;
    float: left;
  }
}
