.cheatsheet {
  pre {
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    background-color: $c-white;
    box-shadow: 0.125rem 0.625rem 0.375rem -0.3125rem rgba($c-true-black, 0.15);
  }

  code {
    white-space: pre-line;
    font-size: 1rem;
    line-height: 1.5;
  }
}
