.section {
  &--home {
    padding: 2rem 1rem 0;
    box-sizing: border-box;

    .title {
      text-align: left;
    }
  }

  &__subtitle {
    margin: 1.5rem 0 1rem;
    font-size: 1.75rem;
    line-height: 1.5;

    @media (min-width: $first-bp) {
      margin: 1rem 0;
    }
  }

  &__copy {
    font-size: 1rem;
    line-height: 2;

    &--home {
      line-height: 1.75;
    }

    @media (min-width: $first-bp) {
      font-size: 1.125rem;
    }
  }

  &__link {
    text-decoration: underline;

    &:hover {
      color: $c-grey;
    }
  }

  &__def-list {
    margin-left: 2rem;
  }
}