.theme {
  padding: 2rem 1.5rem;
  margin: 0;
  border-radius: 1.5rem;

  @media (min-width: $first-bp) {
    padding: 4rem 6rem;
    margin: 2rem auto;
    max-width: 64rem;
    border-radius: 1rem;
  }

  &--grey {
    background-color: lighten($c-grey, 70%);
  }
    
  &__title {
    color: $c-blue-yonder;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: normal;

    @media (min-width: $first-bp) {
      text-align: center;
      font-size: 1.875rem;
      margin: 0 0 3rem 0;
    }
  }
}
