.section {
  &--home {
    padding: 2rem 1rem 0;
    box-sizing: border-box;

    .title {
      text-align: left;
    }
  }

  &__subtitle {
    margin: 1.5rem 0 1rem;
    font-size: 1.75rem;
    line-height: 1.5;

    @media (min-width: $first-bp) {
      margin: 1rem 0;
    }
  }

  &__copy {
    font-size: 1rem;
    line-height: 2;

    &--home {
      line-height: 1.75;
    }

    @media (min-width: $first-bp) {
      font-size: 1.125rem;
    }
  }

  &__link {
    position: relative;
    color: $c-blue-yonder;
    text-decoration: none;
    transition: color 150ms linear 50ms;

    &::after {
      content: '';
      display: block;
      position: absolute;
      margin: 0;
	    left: 0;
	    bottom: -0.125rem;
	    height: 0.2em;
      width: 100%;
      z-index: -1;
      background-color: $c-blue-yonder;
      transition: all 150ms linear 100ms, padding 150ms linear,  transform 150ms linear;
    }

    &:hover {
      color: $c-white;
    }

    &:hover::after {
      transform: translate(-0.25rem, 0.125rem);
      height: 100%;
      width: 100%;
      padding: 0.25rem;
    }
  }

  &__def-list {
    margin-left: 2rem;
  }
}