 
.full-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.coming-soon {
  display: inline-block;
  padding: 0 4rem;
  font-size: 4rem;
  line-height: 2;
  text-align: center;
  color: $c-white;
  position: relative;

  &::after { 
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    z-index: -1;
    background-color: $c-purple;
    box-shadow: 0px 16px 14px -10px rgba(0, 0, 0, 0.2);
  }

  &__link {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;

    &::after {
      background-color: $c-purple;
    }    
  }
}


.connect {
  &__wrapper {
    background-color: $c-light-grey;
    margin: 5rem;
    border-radius: 1rem;
    padding-left: 4rem;
    height: 80vh;
    width: 80vw;
    margin-top: 3rem;
  }

  &__title {
    text-align: left;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 2rem;
    letter-spacing: 0.1rem;
    color: $c-grey;
    font-family: 'Montserrat', sans-serif;
  }

  &__subtitle {
    color: $c-black;
  }

  &__link {
    color: $c-black;
    line-height: 200%;
    text-decoration: underline;
  }
}
