.sub-menu {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto 4rem; 

  &__list {
    list-style: none;
    margin: auto;
  }

  &__item {
    float: left;
    margin: 0 1.5rem;
  }

  &__link {
    position: relative;
    padding: 0.5rem 0;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    color: $c-blue-yonder;
    font-size: 1.25rem;
    line-height: 2;
    transition: all 200ms ease-in 50ms;

    &:hover {
      color: $c-white;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0rem;
      height: 0.2rem;
      left: 0;
      width: 100%;
      margin: 0 auto;
      z-index: -1;
      transform: scale(0, 1);
      box-shadow: 0px 6px 8px 0px rgba($c-blue-yonder, 0.25);
      background: linear-gradient(90deg, $c-blue-yonder 0%, $c-blue-yonder 100%);
      transition: all 200ms ease-in;
    }

    &:hover::after {
      height: 100%;
      transform: scale(1.2, 1);
      background: linear-gradient(90deg,  $c-blue-yonder 0%, #588fb6  100%);
    }
  }
}