* {
  box-sizing: border-box;
}

body {
  font-family: $default-font;
  color: $c-grey;
  margin: 0;
  line-height: 1.5;
  -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

p {
  font-weight: normal;
  line-height: 1.75;
  font-size: 1rem;
}

a {
  font-weight: normal;
  text-decoration: none;
}

::selection {
  background: $c-grey;
  color: $c-white;
}

img {
  max-width: 100%;
}

pre {
  background-color: $c-grey;
  border-radius: 0.25rem;
}

code {
  font-family: $code-font;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  overflow-x: auto;
  padding: 0.25rem 0.5rem;
  background: $c-grey;
  color: #D8DEE9;
}

pre > code {
  padding: 1rem !important;
  color: $c-white;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  font-family: $code-font;
  white-space: pre-wrap;
  line-height: 2;
  font-size: 0.75rem;
  box-shadow: $dark-shadow rgba($c-black, 0);
}
