.obj-layout-spacing {
  padding: 2rem 1.5rem;
  margin: 0;
  border-radius: 1.5rem;

  @media (min-width: $bp-md) {
    padding: 2rem 6rem;
    margin: 2rem auto;
    border-radius: 1rem;
  }

  &__btm {
    margin-bottom: 4rem;
  }
}
