.main {
  margin: 0.5rem;
  max-width: 100rem;

  @media (min-width: $bp-md) { 
    margin: 1rem auto;
  }

  &--home {
    margin: auto;
    height: 100%;
    max-width: 70rem;
  }
}

.section-wrapper {
  margin: 3rem auto 0;
  display: flex;
  flex-flow: row wrap;
}
