// colors
$c-true-black: #000;
$c-black: #222;
$c-grey: #444;
$c-light-grey: #eee;
$c-white: #fff;
$c-grey-blue: #6a758f;
$c-blue-yonder: #5270b7;
$c-blue-skies: #588fb6;
$c-old-silver: #77796f; 
$c-cambridge-blue: #64d4b3;
$c-chetwode-blue: #7e7ee6;
