// colors
$c-grey: #444;
$c-dark: #444;
$c-white: #fff;        // 9.74 AAA
$c-light: #fff;        // 9.74 AAA
$c-grey-blue: #6a758f; // 4.54 AA
$c-purple: #7d7de6;   
$c-red: #eb483a; 
$c-yellow: #e9B000;
$c-pink: #f78395;
$c-teal: #007ba0;

// media queries
$first-break: 50rem;

// font-sizes
$font-xxs: 1rem;
$font-xs: 1.125rem;
$font-sm: 1.25rem;
$font-md: 1.5;
$font-lg: 1.875;
$font-xl: 2rem;
