// Base Colors
$c-black: #000;
$c-grey-2: #222;
$c-grey: #2E3440;
$c-grey-7: #777;
$c-grey-e: #EEE;
$c-white: #FFF;

// Theme Colors
$c-grey-blue: #6a758f;
$c-yonder: #5270b7;
$c-blue-skies: #629ec9;
$c-chetwode: #7e7ee6;
