// Breakpoints
$bp-sm: 23rem;
$bp-md: 50rem;

// Box shadows
$shadow: 0.125rem 0.625rem 0.375rem -0.125rem;
$dark-shadow: 0.125rem 0.625rem 0.375rem -0.375rem;

// Transition
$transition: 200ms ease-in;

