// colors
$c-black: #222;
$c-grey: #444;
$c-light-grey: #eee;
$c-white: #fff;
$c-grey-blue: #6a758f;
$c-blue-yonder: #5270b7;  
$c-old-silver: #85877C; 
$c-cambridge-blue: #7FBEAB;

// media queries
$first-bp: 50rem;

// font-sizes
$font-xxs: 1rem;
$font-xs: 1.125rem;
$font-sm: 1.25rem;
$font-md: 1.5rem;
$font-lg: 1.875rem;
$font-xl: 2rem;
