@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');

body {
  font-family: 'Montserrat', sans-serif;
  color: $c-grey;
  margin: 0;
}

a {
  text-decoration: none;
}

::selection {
  background: $c-grey;
  color: $c-white;
}

.main {
  margin: 0.5rem;
  max-width: 100rem;

  @media (min-width: $first-bp) { 
    margin: 1rem;
  }

  &--home {
    margin: auto;
    height: 100%;
    max-width: 70rem;
  }
}

.section-wrapper {
  margin: 3rem auto 0;
  display: flex;
  flex-flow: row wrap;
}

.title {
  font-size: 2rem;
  margin: 3rem auto;
  text-align: center;

  @media (min-width: $first-bp) {
    margin: 2rem auto;
    font-size: 2.5rem;
  }
}