// colors
$c-black: #222;
$c-grey: #444;
$c-light-grey: #eee;
$c-white: #fff;
$c-grey-blue: #6a758f;
$c-blue-yonder: #5270b7;
$c-blue-skies: #588fb6;
$c-old-silver: #77796f; 
$c-cambridge-blue: #64d4b3;

// media queries
$first-bp: 50rem;

// font-sizes
$font-xxs: 1rem;
$font-xs: 1.125rem;
$font-sm: 1.25rem;
$font-md: 1.5rem;
$font-lg: 1.875rem;
$font-xl: 2rem;
