$c-dark: #444;
$c-light: #fff;        // 9.74 AAA
$c-grey-blue: #6a758f; // 4.54 AA
$c-primary: #7d7de6;     // 3.53 AA Large

/* GENERAL
============================ */

h1, h2, h3, h4, h5, h6, p, a, ul li {
    color: $c-dark;
}

::selection {
    background: $c-dark;
    color: $c-light;
}

.header__link:after {
    background-color: lighten($c-primary, 10%);
}

/* HOME PAGE
============================ */

.includes__item {
    color: $c-dark;
    &::before {
        background-color: $c-primary;
    }
}

.topic {
    box-shadow: 2px 10px 6px -6px rgba(0, 0, 0, 0.2);
    border-color: #e2e2e2;
    &__title {
        color: $c-primary;
    }
    &__link {
        &:after {
            background-color: $c-primary;
        }
        &:hover {
            color: $c-primary;   
        }
    }
}

.topic__list--item {
    color: lighten($c-dark, 10%);
}

/* LANDING PAGES
============================ */

.subject__title--primary {
    color: $c-primary;
}

.subject__resource-link--primary {
    color: $c-primary;
    border: 2px solid $c-primary;
    &:hover {
        border: 2px solid $c-primary;
        color: $c-light;
        background-color: $c-primary;
    }
}

.subject__link--primary {
    color: $c-primary;
}

.subject__section--grey {
    background-color: lighten($c-dark, 70%);
}

.subject__link:hover {
    color: $c-dark;
}

.subject__sub-section--underline {
    border-left: 4px solid $c-dark;
}

.subject__p-list-item-code {
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.subject__resource-link {
    background-color: #fff;
    box-shadow: 0px 12px 8px -8px rgba(126, 126, 230, 0.25);
}

.subject__resource-link:hover {
    box-shadow: 0px 14px 6px -8px rgba(126, 126, 230, 0);
}

.subject__resource-type {
    color: #555;
}

.subject__code-wrapper {
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.subject__code {
    color: #333;
}

/*  CONNECT PAGE 
============================ */
.coming-soon {
    color: #fff;
}

.coming-soon:after { 
    background-color: #7d9bdc;
    box-shadow: 0px 16px 14px -10px rgba(0, 0, 0, 0.2);
}

.coming-soon__link:after {
    background-color: #7d9bdc;
}

/*  CONNECT PAGE 
============================ */

.connect-wrapper {
    background-color: #7e8fb5;
    color: #fff;
}

.connect__title {
    color: #fff;
}